<section class="about">
  <h1>ABOUT ELEVATE</h1>
  <div class="about-us-img">
    <img src="./assets/img/about-us.jpg" alt="profile">
  </div>
  <aside class="about-us-details">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec mi ac est commodo rutrum. Nulla lobortis, velit in
      mattis elementum, nulla ipsum fringilla justo, accumsan maximus mauris lacus eget orci. Quisque vitae aliquet lacus.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin posuere mollis ipsum iaculis ornare. Ut dui lorem, interdum
      sed justo in, tincidunt porttitor justo. Maecenas aliquam lectus eget mi molestie, vel euismod risus ultrices. Pellentesque
      eu facilisis dolor. Ut eu tortor quis est rhoncus gravida ac eget neque. Proin finibus, tortor porta eleifend porta,
      urna lacus iaculis velit, sed fermentum purus massa at mauris. Donec lobortis sagittis metus, vitae aliquet risus placerat
      in. Suspendisse scelerisque quis massa in commodo.
    </p>
  </aside>
</section>
<section class="about-gallery">
  <div class="about-us-quote">
      <p>"[ Plan for tomorrow, Live today, and Read Tonight]"</p>
  </div>
  <div class="about-us-collection">
    <img src="./assets/img/about-us-collection.jpg" alt="">
  </div>

</section>